<form name ="deployitems" ng-controller="bastionctrl">
  <div id="fullcenter" class="midform">
    <h3>Deployment List:</h3>
    <p ng-repeat="(location, servers) in confirmdata.locations"><b>{{location}}</b>: {{servers.hosts.join(', ')}}</p>
    <h3>Script Input <span ng-if="confirmdata.sudo">(Running using sudo)</span></h3>
    <pre>{{confirmdata.input}}</pre>
  </div>

  <div class="bottom">
    <input type="submit" value="Deny" ng-click="confirm(false)">
    <input type="submit" value="Confirm" ng-click="confirm(true)">
  <div>
</form>
