* {
  margin:0px;
  padding:0px;
  font-family:sans-serif;;
  font-size:18px;
  text-align:center;
}

h1{
  padding:15px 0px;
  font-size:50px;
}

h2{
  padding-bottom:20px;
  font-size:24px;
  font-weight:normal;
}

form{
  height:50%;
  width:100%;
}

select{
  height:80%;
  width:50%;
}

optgroup{
  text-align:left;
}

option{
  text-align:left;
}

.fchild{
  height:90%;
  float:left;
  display: table-cell;
  overflow: scroll;
}

#left{
  width:34%;
}

#right{
  width:66%;
}

#bashtext{
  font-size:14px;
  font-family: monospace;
  text-align:left;
  height:34%;
  width:75%;
}

#bashupload{
  width:25%;
}

#bottom{
  background:none;
  border:1px solid black;
  border-radius:0px;
  clear:both;
  padding:10px 25px;
}
