* {
  margin:0px;
  padding:0px;
  font-family:sans-serif;
  font-size:18px;
  text-align:center;
}

h1{
  padding:15px 0px;
  font-size:50px;
}

h2{
  font-size:24px;
  font-weight:normal;
}

form{
  height:75%;
  width:100%;
}

form h3{
  padding:10px 0px;
}

form p{
  color:red;
}

.midform{
  height:90%;
  float:left;
  overflow:scroll;
}

#left{
  width:34%;
}

#left select{
  height:80%;
  width:50%;
}

option, optgroup{
  text-align:left;
}

#right{
  width:66%;
}

#right textarea {
  font-size:14px;
  font-family:monospace;
  text-align:left;
  height:50%;
  width:75%;
}

#right input[type="file"]{
  width:25%;
}

#fullcenter{
  width:100%;
}

#fullcenter p, pre{
  margin-left:10%;
  text-align: left;
}

#fullcenter pre{
  font-size:14px;
  font-family:monospace;
}

.bottom{
  clear:both;
}

.bottom input{
  background-color:white;
  border:1px solid black;
  border-radius:0px;
  padding:10px 25px;
}
